appdirs==1.4.0
bootstrap4==0.1.0
Django==2.0.1
gunicorn==19.9.0
h5py==2.8.0
hyperlink==18.0.0
Jinja2==2.10.1
numpy==1.15.4
Pillow==8.1.1
protobuf==3.6.1
psycopg2==2.8.2
Pygments==2.4.0
pyparsing==2.1.10
pytz==2018.9
requests==2.21.0
six==1.10.0
uritemplate==3.0.0
urllib3==1.24.3
xhtml2pdf==0.2.3
PyPDF2==1.26.0
PyScreeze==0.1.18
python-dateutil==2.7.5
python-git==2018.2.1